*/Build
*/Binaries
*/DerivedDataCashe
*/Intermediate
*/Saved
BuildingEscape/Content/StarterContent/

*.VC.db
*.VC.opendb

BuildingEscape/.vs/BuildingEscape/v15/Solution.VC.db-shm
BuildingEscape/.vs/BuildingEscape/v15/Solution.VC.db-wal
BuildingEscape/.vs/
